.nav-tabs {
	margin-bottom: 30px;
}

.admin-form {
	margin-left: -100px;
}

.navbar-collapse {
	margin-bottom: 30px;
}



.test {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 5px;

}

.test1 {
	float: left;


}



